$primary-color: #f5a425;
$secondary-color: #0a1931;
$text-color-v1: #000;
$text-color-v2: #fff;
$font-weights: (
    "regular": 400,
    "medium": 600,
    "bold": 700
);

// this file is called partial & name starts with _